pandas==1.5.3
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.6.1
statsmodels==0.14.4
sktime==0.36.1
xgboost==2.1.4
shap==0.48.0
matplotlib==3.9.4
seaborn==0.13.2
plotly==6.1.2
pyarrow==20.0.0
openpyxl==3.1.5
pandera==0.22.1
streamlit==1.45.1
joblib==1.4.2
prophet==1.1.7
altair-ally==0.1.1
vega-datasets==0.9.0